<div class="shopper-screen">
  <h1 class="logo">Try On</h1>
  <div class="title">欲しい商品から<span>試着可能店舗</span>を検索</div>

  <!-- 検索フォーム -->
  <div class="search-form">
    <%= search_form_for @q, url: tryonforclient_index_search_path, html: {id: "detailed-search-form"} do |f| %>
      <%= f.search_field :item_name_cont, placeholder: '商品名を入力して下さい', class: "search-field", id: "search-field-value"%>
      <%= f.submit '検索', class: "search-btn", id: "search-submit"%>
    <% end %>
  </div>
  <%= @markers %>
  <!-- Googleマップ表示エリア(地図を表示) -->
  <div id="map" style="height: 600px"></div>
</div>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  <script src="path_to/map.js"></script>


  