<div class="shopper-screen">
  <h1 class="logo">Try On</h1>
  <div class="title">欲しい商品から<span>試着可能店舗</span>を検索</div>

  <!-- 検索フォーム -->
  <div class="search-form">
    <%= search_form_for @q, url: search_path, html: {id: "detailed-search-form"} do |f| %>
      <%= f.select :category_eq, Item.categories.map{ |key, value| [t("enum.item.category.#{key}"), value]}, {include_blank: "カテゴリーを選択してください"}, class: "search-field category-field", id: "search-field-value" %>
      <%= f.search_field :item_name_cont, placeholder: '商品名を正しく入力して下さい', class: "search-field", id: "search-field-value"%>
      <%= f.submit '検索', class: "search-btn", id: "search-submit"%>
    <% end %>
  </div>
  <div class="warning-message">
    ※カテゴリーを先に選択してください。<br>
    ※入力した商品名に間違いがある場合、誤った情報が表示される可能性がございます。<br>
    ※店舗状況により試着できない場合がございます。
  </div>
  <!-- Googleマップ表示エリア(地図を表示) -->
  <div id="map" style="height: 600px"></div>
  <%= render 'shared/footer' %>
</div>
  <%= javascript_include_tag 'map' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>


  