<%= form_with model: store, class: "form", local: true do |f| %>

        <div class="form-content">
          <div class="form-item">
            <div class="form-title">
              店舗名
            </div>
            <%= f.text_field :store_name, class: "text-field" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              店舗の説明
            </div>
            <%= f.text_area :description, class: "text-field" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              住所
            </div>
            <%= f.text_field :address, class: "text-field" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              営業時間
            </div>
            <%= f.text_field :opening_hours, class: "text-field" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              緯度 (試着可能時、地図上にピンを乗せるため)
            </div>
            <%= f.text_field :latitude, class: "text-field" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              経度 (試着可能時、地図上にピンを乗せるため)
            </div>
            <%= f.text_field :longitude, class: "text-field" %>
          </div>
            <div class="submit-btn">
              <%= link_to 'キャンセル', stores_path, class: "cancel-btn" %>
              <%= f.submit "保存", class: "register-btn", id: "register-btn" %>
            </div>
        </div>
      <% end %>
