<div class="wrapper">
  <%# side-menu %>
  <%= render partial: '/items/side_menu' %>
  <%# side-menu %>
  <div class="right-wrapper">
    <div class="main">
      <div class="main-header">
        <div class="page-title">店舗一覧</div>
        <%# To add item %>
        <div><%= link_to "店舗を登録",  new_store_path, class: "add-item-btn", id: "add-btn" %></div>
        <%# To add item %>
      </div>
      <%# main header %>

      <%# store list %>
      <div class="list-wrapper">
      <div class="inventory-list">
          <div class="list-header">
            <div class="list-title">店舗名</div>
            <div class="list-title">説明</div>
            <div class="list-title">住所</div>
            <div class="list-title">営業時間</div>
            <div class="list-title">編集 / 削除</div>
          </div>

       <% @stores.each do |store| %>
            <div class="item-list">
              <div class="item"><%= store.store_name %></div>
              <div class="item"><%= store.description %></div>
              <div class="item"><%= store.address %></div>
              <div class="item"><%= store.opening_hours %></div>
              <div class="action-btn">
                <div><%= link_to '編集', edit_store_path(store), class: "edit" %></div>
                <div><%= link_to '削除', store_path(store.id), data: { turbo_method: :delete },  class:"delete" %></div>
              </div>
            </div>
            <% end %>
        </div>
      <%# store list %>
    </div>
  </div>
</div>
