<div class="bg">
  <div class="register-wrapper">
    <div class="register-header">
      <div><%= link_to '<', stores_path, class: "go-back" %></div>
    </div>
    <div class="register-block">
      <div class="page-title mb40">店舗を登録</div>
      <div class="error-block">
      <%= form_with model: @store, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %> 
      <% end %> 
      </div>
      <%= render partial: 'store_form', locals: { store: @store } %>
    </div>
    <%= render 'shared/footer' %>

  </div>
</div>