<div class="bg">
  <div class="register-wrapper">
    <div><%= link_to '<', root_path, class: "go-back" %></div>
    <div class="add-item-block"> 
      <div class="page-title mb40">ログイン</div>

      <div class="form_content">


      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>


          <div class="form-item">
            <div><%= f.label :email, class: "form-title" %></div>
            <%= f.email_field :email, class: "text-field" %>
          </div>

          <div class="form-item">
            <div><%= f.label :password, class: "form-title" %></div>
            <%= f.password_field :password, autocomplete: "off", placeholder: "6文字以上入力して下さい", class: "text-field" %>
          </div>

          <div class="submit-btn">
            <%= f.submit "ログイン", class: "register-btn" %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>