        <%# inventory list %>
        <div class="inventory-list">
          <div class="list-header">
            <div class="list-title">商品名</div>
            <div class="list-title">価格</div>
            <div class="list-title">サイズ</div>
            <div class="list-title">在庫数</div>
            <div class="list-title">編集 / 削除</div>
          </div>

          <% if items.nil? %>
            <% puts "items are not avaliable "%>
          <% else %>
            <% items.each do |item| %>
            <div class="item-list">
              <div class="item"><%= item.item_name %></div>
              <div class="item"><%= item.price %></div>
              <div class="item"><%= item.size.name %></div>
              <div class="item"><%= item.number_of_inventory %></div>
              <div class="action-btn">
                <div><%= link_to '編集', edit_store_item_path(store_id: item.store_id, id: item.id), class: "edit" %></div>
                <div><%= link_to '削除', store_item_path(store_id: item.store_id, id: item.id), data: { turbo_method: :delete },  class:"delete" %></div>
              </div>
            </div>
            <% end %>
          <% end %>
      </div>
        <%# inventory list %>