<% if item.new_record? %>
<%= form_with model: item, id: "addForm", class: "form", local: true do |f| %>

  <div class="form-content">
    <div class="form-item">
      <div class="form-title">
        商品名
      </div>
      <%= f.text_field :item_name, class: "text-field", id: "item-name" %>
    </div>
    <div class="form-item">
      <div class="form-title">
        価格
      </div>
      <%= f.text_field :price, class: "text-field", id: "price" %>
    </div>
    <div class="form-item">
      <div class="form-title">
        サイズ
      </div>
      <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"select-box", id:"item-size"}) %>
    </div>
    <div class="form-item">
      <div class="form-title">
        在庫数
      </div>
      <%= f.text_field :number_of_inventory, class: "text-field inventory", id: "inventory" %>
    </div>
      <%= f.submit "商品を追加", class: "add-item-btn", id: "add-btn" %>
  

  </div>
<% end %>

<% else %>



<%= form_with model: item, id: "updateForm", class: "form", local: true do |f| %>

  <div class="form-content">
    <div class="form-item">
      <div class="form-title">
        商品名
      </div>
      <%= f.text_field :item_name, class: "text-field", id: "item-name" %>
    </div>
    <div class="form-item">
      <div class="form-title">
        価格
      </div>
      <%= f.text_field :price, class: "text-field", id: "price" %>
    </div>
    <div class="form-item">
      <div class="form-title">
        サイズ
      </div>
      <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"select-box", id:"item-size"}) %>
    </div>
    <div class="form-item">
      <div class="form-title">
        在庫数
      </div>
      <%= f.text_field :number_of_inventory, class: "text-field inventory", id: "inventory" %>
    </div>

      <%= f.submit "内容を更新", class: "add-item-btn", id: "add-btn" %>

  </div>
<% end %>

<% end %>