<%= form_with model: [item, @store.id] id: "addForm", class: "form", local: true do |f| %>

        <div class="form-content">
          <div class="form-item">
            <div class="form-title">
              商品名
            </div>
            <%= f.text_field :item_name, class: "text-field", id: "item-name" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              価格
            </div>
            <%= f.text_field :price, class: "text-field", id: "price" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              サイズ
            </div>
            <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"select-box", id:"item-size"}) %>
          </div>
          <div class="form-item">
            <div class="form-title">
              在庫数
            </div>
            <%= f.text_field :number_of_inventory, class: "text-field inventory", id: "inventory" %>
          </div>
          <div class="form-item">
            <div class="form-title">
              販売店舗
            </div>
            <%= f.collection_select :store_name, Store.all, :class: "text-field inventory", id: "inventory" %> 
          </div>
            <%= f.hidden_field :store_id, value: .id %>

          <div class="required mb40">※全ての項目が必須入力です</div>
          <% if item.new_record? %>
            <div class="submit-btn">
              <%= link_to 'キャンセル', root_path, class: "cancel-btn" %>
              <%= f.submit "登録", class: "register-btn", id: "register-btn" %>
            </div>
          <% else %>
            <div class="submit-btn">
              <%= link_to 'キャンセル', root_path, class: "cancel-btn" %>
              <%= f.submit "保存", class: "register-btn", id: "register-btn" %>
            </div>
          <% end %>
        </div>
      <% end %>