  <div class="side-menu">
    <h1><%= link_to 'Try On', root_path, class: "logo" %></h1>
    <div class="menu-list">
      <div><%= link_to "ユーザー登録", new_user_registration_path, class: "menu-item" %></div>
      <div><%= link_to "ログイン", new_user_session_path, class: "menu-item" %></div>
      <div><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-item" %></div>



      <div><%= link_to '店舗一覧', stores_path, class: "menu-item" %></div>
      <div><%= link_to '在庫一覧', root_path, class: "menu-item" %></div>
      <div><%= link_to 'ユーザー一覧', root_path, class: "menu-item" %></div>
    </div>
  </div>
  