<div class="wrapper">
  <%# side-menu %>
  <%= render partial: 'side_menu' %>
  <%# side-menu %>
  <div class="right-wrapper">
    <div class="main">
      <div class="main-header">
        <div class="page-title">在庫一覧</div>
        <%# To add item %>
        <% if user_signed_in?%>
        <div><%= link_to "商品を登録",  new_store_item_path(current_user.store_id), class: "add-item-btn", id: "add-btn" %></div>
        <% end %>
        <%# To add item %>
      </div>
      <%# main header %>

      <%# To search items %>
        <div class="search">
          <div class="search-title">在庫検索</div>
          <%= search_form_for @q, url: items_path, method: :get do |f| %>
            <div class="search-inventory-wrapper">
              <div class="search-inventory-item">
                <div><%= f.label :item_name_cont, '商品名' %></div>
                <div><%= f.search_field :item_name_cont, placeholder: '商品名で検索', class: "search-field-inventory" %></div>
              </div>
              <div class="search-inventory-item">
                <div><%= f.label :category_eq, 'カテゴリー' %></div>
                <div><%= f.collection_select(:category_eq, Item.categories.keys.map { |k| [k, Item.categories[k]] }, :last, :first, { include_blank: 'カテゴリーを選択' }, { class: "search-field-inventory" } )%></div>
              </div>

              <div class="search-inventory-item">
                <div><%= f.label :number_of_inventory_gteq, "在庫数" %></div>
                <%= f.number_field :number_of_inventory_gteq, class: "search-field-inventory", placeholder: '最小' %> 〜 
                <%= f.number_field :number_of_inventory_lteq, class: "search-field-inventory", placeholder: '最大' %>
              </div>
              <div>
                <%= f.submit "検索", class: "search-btn" %>
                <%= link_to "検索をクリア", items_path, class: "search-cancel-btn" %>
              </div>
            </div>
          <% end %>
          <div class="search-inventory-message">検索を組み合わせることも別々で検索することも可能です。</div>
        </div>

      <%# item list %>
      <div class="list-wrapper">
        <%= render partial: 'item_list', locals: { items: @items } %>
      </div>
      <div class="pagination">
        <%== pagy_nav(@pagy) %>
      </div>

      <%# item list %>
    <%= render 'shared/footer' %>

    </div>
  </div>
</div>
