<div class="wrapper">
  <%# side-menu %>
  <div class="side-menu">
    <h1><%= link_to 'Try On', root_path, class: "logo" %></h1>
    <div class="menu-list">
      <div><%= link_to '在庫一覧', root_path, class: "menu-item" %></div>
      <div><%= link_to '管理者', root_path, class: "menu-item" %></div>
    </div>
  </div>
  <%# side-menu %>

  <div class="right-wrapper">

    <%# <div class="user-name">試着 太郎</div> %>

    <div class="main">
      <div class="main-header">
        <div class="page-title">在庫一覧</div>
        <%# To add item %>

          <%= form_with model: @item, url: items_path, id: "form", local: true do |f| %>
            <div class="form-content">
              <div class="form-item">
                <div class="form-title">
                  商品名
                </div>
                <%= f.text_field :item_name, class: "text-field", id: "item-name" %>
              </div>
              <div class="form-item">
                <div class="form-title">
                  価格
                </div>
                <%= f.text_field :price, class: "text-field", id: "price" %>
              </div>
              <div class="form-item">
                <div class="form-title">
                  サイズ
                </div>
                <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"select-box", id:"item-size"}) %>
              </div>
              <div class="form-item">
                <div class="form-title">
                  在庫数
                </div>
                <%= f.text_field :number_of_inventory, class: "text-field inventory", id: "inventory" %>
              </div>
              <%= f.submit "商品を追加", class: "add-item-btn", id: "add-btn" %>
            </div>
          <% end %>
          <div class="required">※全ての項目が入力必須です</div>
        <%# To add item %>
      </div>
      <%# main header %>


      <div class="list-wrapper">
        <%# inventory list %>
        <div class="inventory-list">
          <div class="list-header">
            <div class="list-title">商品名</div>
            <div class="list-title">サイズ</div>
            <div class="list-title">価格</div>
            <div class="list-title">在庫数</div>
            <div class="list-title">編集/削除</div>
          </div>

          <div id="list" class="item-list"></div>
          <% @items.each do |item| %>
          <div class="item-list">
            <div class="item"><%= item.item_name %></div>
            <div class="item"><%= item.size.name %></div>
            <div class="item"><%= item.price %></div>
            <div class="item"><%= item.number_of_inventory %></div>
            <div class="action-btn">
              <div class="edit">編集</div>
              <div class="delete">削除</div>
            </div>
          </div>
          <% end %>



      </div>
        <%# inventory list %>
    </div>

    
    </div>
  </div>
</div>
