<h1>TryOn</h1>
<%= form_with model: @item, url: items_path, id: "form", local: true do |f| %>
  <div class="new-item">
    <div>
      商品名
      <span class="">必須</span>
    </div>
    <%= f.text_field :item_name, class: "item-name", id: "item-name" %>
    <div>
      サイズ
      <span class="">必須</span>
    </div>
    <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"select-box", id:"item-size"}) %>
    <div>
      価格
      <span class="">必須</span>
    </div>
    <%= f.text_field :price, class: "price", id: "price" %>
    <div>
      在庫数
      <span class="">必須</span>
    </div>
    <%= f.text_field :number_of_inventory, class: "inventory", id: "inventory" %>
    <div>
      <%= f.submit "商品を追加する", class: "add-btn", id: "add-btn" %>
    </div>
  </div>
<% end %>
<%# To show item %>
<% @items.each do |item| %>
  <%= item.item_name %>
  <%= item.size.name %>
  <%= item.price %>
  <%= item.number_of_inventory %>
<% end %>
<%# To show item %>
